@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(to bottom right, #eff6ff, #eef2ff);
}
