.button {
  box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
  color: rgba(255 255 255 / 0.87);
  background-color: rgb(255, 89, 0);
  font-size: 1.1rem;
  display: inline-block;
  padding: 9px 16px;
  line-height: 1.2;
  margin: 0;
  cursor: pointer;
  min-height: 36px;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
