.button {
  background-color: rgb(255 255 255);
  color: rgb(0 0 0);
  min-width: 4rem;
  border-color: rgb(255 255 255);
  box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
  padding: .4rem;
  border-radius: .2rem;
}


