.container {
  background: rgb(255 255 255);
  width: 100%;
  border-radius: 0.25rem;
  border: 3px solid rgb(255 150 65);
  box-shadow: 0.5rem 0.5rem 0 rgb(255 150 65);
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  margin: 0;
}

.requirementsContainer {
  margin-top: 1rem;
}
