@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-toast-in {
  animation: toast-in 0.5s ease forwards;
}
