.container {
  background-color: rgb(230 230 230);
  border-radius: 533px;
}

.button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 2rem;

  &:hover {
    color: rgb(255, 108, 28);
  }
}

.percentage {
  margin-left: .2rem;
}

.td {
  padding: .5rem;
  
  $border-radius: .5rem;
  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }
  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

.littleButton {
  width: 4rem;
}

.trafficInput {
  width: 4rem;
}