# service
POSTGRES_USER=admin
POSTGRES_PASSWORD=12345678
POSTGRES_DB=db
JWT_SECRET=abc123
DOMAIN=localhost
DATABASE_URL_POSTGRES=postgresql://admin:12345678@db-postgres:5432/db?sslmode=disable
DATABASE_URL_REDIS=redis://db-redis:6379
SALT_ROUNDS=1
SUPER_ADMIN_EMAIL=test@test.com
SUPER_ADMIN_PASSWORD=abc

# ui
NEXT_PUBLIC_BACKEND_URL_SERVER_SIDE: http://ab-tester-svc:4000
NEXT_PUBLIC_BACKEND_URL_CLIENT_SIDE: http://localhost:4000
