$color-1: rgb(255 255 255);
$color-2: rgb(255 150 65);
$color-3: rgb(0 0 0);

.container {
  background: $color-1;
  width: 100%;
  border-radius: .25rem;
  border: 3px solid $color-2;
  box-shadow: 0.5rem 0.5rem 0 $color-2;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  margin: 0;
}

.table {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 .3rem;
}

.th {
  padding: 0 .5rem;
}
