.button {
  background-color: rgb(255 98 0);
  color: rgb(255 255 255);
  min-width: 4rem;
  border-color: rgb(255, 98, 0);
  box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
  padding: .2rem;
  border-radius: .2rem;

  &:disabled {
    background-color: rgb(196, 196, 196);
    border: none;
    box-shadow: none;
    color: rgb(81, 81, 81);
  }

}
